<p id="notice"><%= notice %></p>

<h1>Sections</h1>

<table class="table">
  <thead>
    <tr>
      <th>Course</th>
      <th>Number</th>
      <th>Semester</th>
      <th>Roomnumber</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.course.name %></td>
        <td><%= section.number %></td>
        <td><%= section.semester %></td>
        <td><%= section.roomNumber %></td>
        <td><%= link_to 'Show', section %></td>
        <td><%= link_to 'Edit', edit_section_path(section) %></td>
        <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Section', new_section_path %>

<br><br>
<%= form_tag(search_sections_url, method: "get") do %>
  <%= label_tag(:query, "Search for a section:") %>
  <%= text_field_tag(:query) %>
  <%= submit_tag("Search") %>
<% end %>

<br/><div id="results"></div>

<script>
    var QueryURL = "http://localhost:3000/books/search.json?query=";
    var ResultsDiv = "results";
    var Field = "name";
    var QueryTag = "query";
</script>

<script type="text/javascript" src="/javascripts/AJAXSearch.js"></script>

